@using Meganium.Api.Trash
@using Meganium.Api.Trash
@model Meganium.Api.ViewModels.SiteViewModel

<div id="sub-banner" class="row">
    @Url.Thumbnail(Model.CurrentPost.FeaturedMediaFile, 980, 418, true)
    <div class="sub-caption event-counter" style="right: 40px; left: auto">
        <h1 class="colr" style="font-size: 18px">@Model.CurrentPost.StartedAt.ToString("dddd")</h1>
        <h1>@Model.CurrentPost.StartedAt.ToString("ddMMM")</h1>
    </div>
</div>
<div class="clear"></div>
<div class="container row">
    <div class="sixteen columns left">
        <h1 class="heading">@Model.CurrentPost.Title</h1>
        <!-- Static Page Start -->
        <div class="in-sec">
            <div class="blog-opts">
                <div class="desc" style="margin-left: 0">
                    <h4>Local: @Model.CurrentPost.Location</h4>
                    <p class="by">de @Model.CurrentPost.StartedAt.ToString("hh'h'mm") até @Model.CurrentPost.EndedAt.ToString("hh'h'mm")</p>
                    @if (Model.CurrentPost.MediaFiles.Any())
                    {
                        <p class="coments"><a href="#">@Model.CurrentPost.MediaFiles.Count Fotos</a></p>
                    }
                    <div class="clear"></div>
                </div>
            </div>

            <div class="static">
                @Html.Raw(Model.CurrentPost.Content)
            </div>
            <div class="clear"></div>
        </div>
        @if (Model.CurrentPost.MediaFiles.Any())
        {
            <div class="in-sec nopad-bot">
                <div class="static">
                    <h4>Fotos do Evento</h4>
                    <section id="gal-container">
                        <ul class="gallery-four-col" id="stage">
                            @foreach (var mediaFile in Model.CurrentPost.MediaFiles)
                            {
                                <li data-tags="Images">
                                    <a href="@mediaFile.Url" class="tip4 thumb fsand">
                                        @Url.Thumbnail(mediaFile, 208, 168, true)</a>
                                </li>
                            }
                        </ul>
                        <div class="clear"></div>
                    </section>
                </div>
            </div>
        }
        <!-- Static Page End -->
    </div>
</div>
