@using Meganium.Api.Trash
@using Meganium.Api.Entities
@using Meganium.Api.Resources
@using Meganium.Api.Trash
@model IEnumerable<Meganium.Api.Entities.Post>
@{
    ViewBag.Title = Resource.FeaturedsAdmin;
    ViewBag.Icon = "star";
}
<div class="btn-toolbar">
    <a class="btn btn-primary" href="@Url.Action("Manage")">@Resource.ManageFeatureds</a>
</div>
<table class="table table-striped">
    <tr>
        <th>
            @Resource.Title
        </th>
        <th>
            @Resource.PublishedAt
        </th>
        <th>
            @Resource.Type
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DateTimeSpan(item.PublishedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
        </tr>
    }
</table>