@using Meganium.Api.Entities
@using Meganium.Api.Entities
@using Meganium.Api.Resources
@model Meganium.Api.ViewModels.PostCreateEditVm
@{
    var verb = Model.Id > 0 ? Resource.EditCustomEntity : Resource.CreateCustomEntity;
    ViewBag.Title = String.Format(verb, Model.PostType.SingularName);
    ViewBag.Icon = Model.PostType.IconId;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.Hidden("PostTypeId", Model.PostType.Id)
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.FeaturedMediaFileJson)
        @Html.HiddenFor(m => m.Title)
        @Html.HiddenFor(m => m.Content)

        <div style="background-color: #EEEEEE; border-radius: 10px" class="row-fluid">
            <div class="row-fluid">
                <div class="span8 row-fluid" style="padding: 15px">
                    <div class="span12">
                        @Html.Label("Url", Resource.TypeOrPasteAYoutubeOrVimeoUrl)
                        @Html.TextBox("Url", "", new { style = "width: 540px" })
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            @Html.LabelFor(model => model.Published, "Visibilidade")
                            @Html.DropDownListFor(model => model.Published, Model.PrivacySelect)
                            @Html.ValidationMessageFor(model => model.Published)
                        </div>
                        <div class="span6">
                            @Html.LabelFor(model => model.PublishedAt)
                            @Html.TextBoxFor(model => model.PublishedAt, new { @class = "datetimepicker" })
                            @Html.ValidationMessageFor(model => model.PublishedAt)
                        </div>
                    </div>
                    <div class="row-fluid">
                        @if (Model.PostType.Behavior.HasFlag(PostType.BehaviorFlags.AllowCategories))
                        {
                            <div class="span6">
                                @Html.Label(Resource.Categories)
                                @Html.ListBox("CategoryIds", Model.CategoriesMultiselect, new { @class = "multiselect", data_placeholder = Resource.SelectSomeCategories })
                            </div>
                        }
                        @if (Model.PostType.Behavior.HasFlag(PostType.BehaviorFlags.AllowTree))
                        {
                            <div class="span6">
                                @Html.Label(Resource.ParentName)
                                @Html.DropDownList("ParentId", Model.ParentSelect, "[" + String.Format(Resource.RootPage, Model.PostType.SingularName) + "]")
                            </div>
                        }
                        @if (Model.PostType.Behavior.HasFlag(PostType.BehaviorFlags.AllowHash) && Model.Id > 0)
                        {
                            <div class="span6">
                                @Html.Label(Resource.Code)
                                <span class="label label-info" style="font-size: 38px; line-height: 38px">@Model.Hash</span>
                                @Html.HiddenFor(model => model.Hash)
                            </div>
                        }
                    </div>
                </div>
                <div class="span4 featured-media-file">
                    <div id="video" style="padding: 15px 0">
                    </div>
                </div>
            </div>

        </div>



        <div class="btn-toolbar">
            <button type="submit" id="submit-button" class="btn btn-primary" disabled="disabled">@Resource.Save</button>
            <a href="@Url.Action("Index", new { postTypeId = Model.PostType.Id })" class="btn">@Resource.Back</a>
        </div>
    </fieldset>
}

<script type="text/javascript">
    new VideoManager($('#Url'), $('#video'), $('#submit-button'), $('#FeaturedMediaFileJson'), $('#Title'), $('#Content'));
</script>
