@using Dongle.Serialization
@using Meganium.Api
@using Meganium.Api.Trash
@using Meganium.Api
@using Meganium.Api.Resources
@using Meganium.Api.Trash
@model IEnumerable<Meganium.Api.Plugins.ImportPost>
@{
    ViewBag.Icon = "download-alt";
}
<script>
    $(document).ready(function () {
        $('.all-items-checkbox').click(function () {
            if ($(this).is(':checked')) {
                $('.item-checkbox').attr('checked', true);
            } else {
                $('.item-checkbox').removeAttr('checked');
            }
        });

        $('#import-all').click(function () {
            $('.item-checkbox').attr('checked', true);
            $('.import-form').submit();
        });
    });
</script>

@using (Html.BeginForm("Import", "Import", FormMethod.Post, new { @class = "import-form" }))
{
    <div class="btn-toolbar">
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">@Resource.ImportSelected</button>
            <div class="btn" id="import-all">@Resource.ImportAll</div>
        </div>
        <a class="btn" href="@Url.Action("Index")">@Resource.Cancel</a>
    </div>
    
    <table class="table table-striped">
        <tr>
            <th>
                <input type="checkbox" class="all-items-checkbox" />
            </th>
            <th></th>
            <th>
                @Resource.AlbumTitle
            </th>
            <th>
                @Resource.PhotoCount
            </th>
            <th>@Resource.Action</th>
        </tr>
        @{
    var i = 0;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" class="item-checkbox" value="@i" name="ItemCheckbox"/>
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.FeaturedMediaFileJson))
                    {
                        <text>@Url.DefaultThumbnail(InternalJsonSerializer.Deserialize<MediaFile>(item.FeaturedMediaFileJson))</text>
                    }
                </td>
                <td style="text-align: left">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MediaFilesCount)
                </td>
                <td>
                    @if (item.Id == 0)
                    {
                        <span class="label label-success"><i class="icon icon-plus"></i>@Resource.Import</span>
                    }
                    else
                    {
                        <span class="label"><i class="icon icon-edit"></i>@Resource.Update</span>
                    }
                </td>
            </tr>
                    i++;
        }

    </table> 
}