@using Meganium.Api.Trash
@using Meganium.Api.Trash
@model Meganium.Api.ViewModels.SiteViewModel
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>Juliana e Afonso</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site de casamento da Juliana e do Afonso">
    <meta name="author" content="Meganium">
    <!-- Favicon -->
    <link href="~/Content/themes/julianaeafonso/img/favicon.png" rel="icon" type="image/png">
    <!-- css files -->
    <link href="~/Content/themes/julianaeafonso/css/bootstrap.css" rel="stylesheet" type="text/css" media="screen">
    <link href="~/Content/themes/julianaeafonso/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" media="screen">
    <link href="~/Content/themes/julianaeafonso/css/flexslider.css" rel="stylesheet" type="text/css" media="screen">
    <link href="~/Content/themes/julianaeafonso/css/prettyPhoto.css" rel="stylesheet" type="text/css" media="screen">
    <link href="~/Content/themes/julianaeafonso/css/jquery.countdown.css" rel="stylesheet" type="text/css" media="screen">
    <!-- Font Avesome Styles -->
    <link href="~/Content/themes/julianaeafonso/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/themes/julianaeafonso/css/style.css" rel="stylesheet" type="text/css" media="screen">
    <link href="~/Content/themes/julianaeafonso/css/style_red.css" rel="stylesheet" type="text/css" media="screen">
    <link href="~/Content/themes/julianaeafonso/css/bootstrap-override.css" rel="stylesheet" type="text/css" media="screen">

    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Stalemate:400&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>


    <!-- Internet Explorer condition - HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
     <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	 <![endif]-->
</head>


<body>
    <header id="header">
        <div class="container" id="home">
            <div class="row">
                <div class="span12">
                    <div class="square-all-top">
                        <div class="img-container">
                            <div class="img-circle"></div>
                            <div class="circle-top">
                                <h2 class="fittext2">Juliana &amp; Afonso</h2>
                                <h1 class="fittext1">8 de fevereiro de 2014</h1>
                                <div id="defaultCountdown" style="position: absolute; top: 250px; left: 80px; width: 200px; color: white"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav id="nav">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <ul class="navi">
                            <li><a href="#about" title="Sobre nós"><i class="icon-heart icon"></i>Sobre nós</a></li>
                            <li><a href="#location" title="Local da cerimônia"><i class="icon-map-marker icon"></i>Local da cerimônia</a></li>
                            <li><a href="#" class="iframe-dialog" data-dialog-id="photo-selector" data-url="@Url.Content("~/Extension/Rsvp")" title="Confirmar presença"><i class="icon-check icon"></i>Confirmar presença</a></li>
                            <li><a href="#gifts" title="Lista de presentes"><i class="icon-gift icon"></i>Lista de presentes</a></li>
                            <li><a href="#parents" title="Pais e Padrinhos"><i class="icon-group icon"></i>Pais e Padrinhos</a></li>
                        </ul>
                        <select class="select-menu"></select>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-full">
        <!-- Slider -->
        <div class="slider1 flexslider" id="slide">
            <ul class="slides">
                @{
                    var gallery = Model.Managers.PostManager.GetByTitle("Galeria");
                }
                @if (gallery != null)
                {
                    foreach (var mediaFile in gallery.MediaFiles)
                    {
                    <li>
                        <div class="slides-top square">
                            <a href="@mediaFile.Url" data-rel="prettyPhoto[00]" title="">
                                @Url.Thumbnail(mediaFile, 300, 225)
                            </a>
                        </div>
                    </li>
                    }
                }
            </ul>
        </div>
        <!--   Slider End -->
    </div>


    <!-- ABOUT -->
    <section id="about">
        <div class="container">
            <div class="row spacer160"></div>
            <div class="row">
                <div class="span4">
                    <h1>Juliana Torchia</h1>
                    <p>Conhecer o Afonso foi encontrar uma amizade preciosa! Era maravilhoso conversar e rir com ele. Para nós, a amizade foi crucial. Ela nos fez enxergar um no outro o parceiro ideal para a caminhada na estrada da vida. A partir daí, cresceu em mim muita vontade de cuidar dele e de tê-lo perto de mim, pois passei a me importar com as necessidades dele tanto quanto com as minhas.</p>
                    <p>Ao lado do Afonso conheci o amor verdadeiro. Três anos se passaram após nos comprometermos ao namoro, e agora, iremos nos casar. Ou como dizem: iremos juntar as escovas de dente. Mas uma coisa é certa, no meu coração, eu tenho a mais clara certeza de que nossa união foi uma benção de Deus.</p>
                    <p>Sendo assim, não restam dúvidas. Seremos felizes para sempre!</p>
                    <p>
                        <img src="~/Content/themes/julianaeafonso/img/signature-1.png" alt="signature" class="pull-right">
                    </p>
                </div>
                <!-- /.span4 -->
                <div class="span4">
                    @Html.Partial("~/Content/themes/julianaeafonso/views/_CenterAlbum.cshtml", Model.Managers.PostManager.GetByTitle("Sobre nós"))
                    <div class="spacer35"></div>
                </div>
                <!-- /.span4 -->
                <div class="span4">
                    <h1>Afonso Oliveira</h1>
                    <p>Na primeira vez que vi a Juliana disparou na minha cabeça o alarme "mulher dos sonhos" e eu fiz de tudo pra não deixá-la escapar. Fiquei totalmente impressionado com aquela menina bonita, educada e inteligente. A Juliana apareceu e mudou tudo. Ela me fez sonhar novamente.</p>
                    <p>Aos poucos o amor foi surgindo e hoje eu sinto como se ela fizesse parte de mim, como se tudo fosse uma coisa só. É gostoso ver como a gente se une pra encarar a vida de forma tão natural. Ela supre os meus defeitos e eu os dela, então os problemas parecem mais suaves e a vida fica mais gostosa.</p>
                    <p>Logo acredito que estar na presença de Deus e dos amigos para declarar amor eterno à essa mulher é a decisão mais acertada que tomei em toda a minha vida.</p>
                    <p>
                        <img src="~/Content/themes/julianaeafonso/img/signature-2.png" alt="signature-2" class="pull-right">
                    </p>
                </div>
                <!-- /.span4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- ABOUT ENDS -->

    <!-- LOCATION -->
    <section id="location">
        <div class="container">
            <div class="row spacer160"></div>
            <div class="row">
                <div class="span4">
                    <h2>Local da Cerimônia</h2>
                    <p>A cerimônia será no salão de festas <strong>Willian's Fest House</strong>. Ele fica localizado no bairro Roma, na rua Olímpio Teixeira, nº 330 - Volta Redonda - RJ.</p>
                    <p>
                        Nós escolhemos este salão com muito carinho e cuidado. Nele conseguimos visualizar detalhadamente o dia que sonhamos para celebrar nossa união. Será o local perfeito para trocarmos nossos votos de amor, fidelidade e companheirismo. Contamos sua presença! 
       
                    </p>
                    <p><a target="_blank" href="https://www.facebook.com/williansfesthouse">Página do Facebook do Willian's Fest House</a></p>
                </div>

                <div class="span4">
                    @Html.Partial("~/Content/themes/julianaeafonso/views/_CenterAlbum.cshtml", Model.Managers.PostManager.GetByTitle("Local da Cerimônia"))
                    <div class="spacer35"></div>
                </div>
                <div class="span4">
                    <h2>Como chegar</h2>
                    <p>Não é difícil chegar ao local. Bairro basta tomar a rodovia Presidente Dutra sentido Rio de Janeiro e sair após passar por baixo do viaduto no KM 259. A partir daí você já estará no bairro Roma, então siga em frente por 1,2 Km, até passar por cima de uma ponte bem pequena. Depois vire à esquerda, ande por 200m e o salão vermelho estará à sua direita.</p>
                    <p><a href="http://goo.gl/maps/HUrF0" target="_blank">Mapa partindo de Barra Mansa</a></p>
                    <p><a href="http://goo.gl/maps/UbKqe" target="_blank">Mapa partindo de Volta Redonda</a></p>
                </div>
                <div class="spacer60"></div>
            </div>
            <!-- /.row -->
            <div class="row spacer35"></div>
        </div>
        <!-- /.container -->
    </section>
    <!-- LOCATION ENDS -->

    <!-- GIFTS -->
    <section id="gifts">
        <div class="container">
            <div class="row spacer160"></div>
            <div class="row">
                <div class="span4">
                    <h2>Lista de Presentes</h2>
                    <p>Escolhemos fazer a nossa lista no site do <a target="_blank" href="http://www.pontofrio.com.br">Ponto Frio</a>, porque achamos muito fácil de usar, os preços são bem legais e eles dividem em muitas vezes sem juros no cartão. </p>
                    <p>É muito simples visualizar a nossa lista, basta <a target="_blank" href="http://www.pontofrio.com.br/Site/ListaGerenciadaLandingPage.aspx?idListaCompra=322685">clicar neste link</a>. A partir daí você já terá acesso aos itens que estamos precisando para iniciar nossa vida de casados.</p>
                    <p>Você também pode acessar a lista digitando o nome da noiva, do noivo e a data do evento no site do <a target="_blank" href="http://www.pontofrio.com.br/listadecasamento">Ponto Frio</a>.</p>
                </div>
                <div class="span4">
                    <a href="http://www.pontofrio.com.br/Site/ListaGerenciadaLandingPage.aspx?idListaCompra=322685" target="_blank">
                        <div class="square-all">
                            <div class="img-container">
                                <img src="~/Content/themes/julianaeafonso/img/gifts.jpg" alt="gifts" class="img-circle">
                                <div class="gifts-icon"></div>
                            </div>
                        </div>
                    </a>
                    <div class="spacer35"></div>
                </div>
                <div class="span4">
                    <h2>Sinta-se à vontade</h2>

                    <p>
                        Elaboramos uma lista de presentes online para evitarmos o recebimento de presentes repetidos e 
        para que você não precise comparecer à uma loja física.
                    </p>
                    <p>Porém não gostaríamos de exigir que você nos presenteie, nem que os presentes sejam apenas do Ponto Frio.</p>
                    <p>
                        Por isso, caso você vá nos presentear com produtos de outras lojas, pedimos apenas que nos avise, para que
        possamos avisar à outra pessoa que deseje nos dar o mesmo ítem.
                    </p>
                </div>
                <div class="spacer60"></div>
            </div>
        </div>
        <!-- /.container -->
    </section>
    <!-- GIFTS END -->

    <!-- PARENTS -->
    <section id="parents">
        <div class="container">
            <div class="row spacer160"></div>
            <div class="row">
                <div class="span4">
                    <h2>Nossos pais</h2>
                    <p>Aprendemos com eles que um casamento feliz e duradouro não se constrói sozinho. É preciso que ambos se empenhem em fazer com que os votos do amor, da lealdade, do companheirismo sejam renovados todos os dias.</p>
                    <p>Somos gratos a Deus por nos agraciar com pais tão exemplares. Agradecemos muito à vocês, nossos pais.</p>
                    <p>Obrigado por nos provarem que as adversidades da vida não destroem uma união pautada no amor, carinho, cuidado e preocupação. Vocês nos mostraram o caminho, e agora, nós seguiremos o nosso. Nunca nos esqueceremos que o amor é o sentimento mais forte, que nos permite prosseguir em nossa jornada.</p>
                </div>
                <!-- /.span4 -->
                <div class="span4">
                    @Html.Partial("~/Content/themes/julianaeafonso/views/_CenterAlbum.cshtml", Model.Managers.PostManager.GetByTitle("Pais e Padrinhos"))
                    <div class="spacer35"></div>
                </div>
                <!-- /.span4 -->
                <div class="span4">
                    <h2>Nossos padrinhos</h2>
                    <p>
                        Verdadeiros amigos são muito difíceis de encontrar. São jóias preciosas. Os escolhemos como padrinhos porque vocês
        nos inspiram a sermos pessoas melhores a cada dia. Por isso, gostaríamos de ter vocês não apenas nos acompanhando
        no caminho para o altar, mas em toda a nossa caminhada na vida.
                    </p>
                    <p>
                        Agradecemos a todos por serem tão presentes em nossas vidas. Por nos proporcionarem tantos momentos bons e por estarem conosco
        nos momentos maus. Contar com a participação de vocês em nosso casamento nos impulsiona em nosso caminho, pois sabemos que nunca
        estaremos sozinhos.
                    </p>
                    <p>Obrigado, queridos padrinhos, por nos apoiarem em uma decisão tão importante como essa. Vocês são demais!</p>
                </div>
                <!-- /.span4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- PARENTS ENDS -->

    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <hr class="dark">
                    <p class="center">&copy; @DateTime.Now.Year Todos os direitos reservados. <a href="http://meganium.com.br">MEGANIUM Sites Inteligentes</a>.</p>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <div class="square-all-bottom" style="width: 208px">
                        <div class="img-container">
                            <img src="~/Content/themes/julianaeafonso/img/brasao.png" style="border-radius: 0; width: auto; text-align: center">
                        </div>
                    </div>
                </div>
                <div class="spacer55"></div>
            </div>
        </div>
    </footer>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Content/themes/julianaeafonso/js/jquery-1.8.3.min.js"></script>
    <script src="~/Content/themes/julianaeafonso/js/bootstrap.js"></script>
    <script src="~/Content/themes/julianaeafonso/js/jquery.countdown.min.js"></script>
    <script src="~/Content/themes/julianaeafonso/js/jquery.countdown-pt-BR.js"></script>
    <script src="~/Content/themes/julianaeafonso/js/jquery.flexslider.js"></script>
    <script src="~/Content/themes/julianaeafonso/js/fittext.js"></script>
    <script src="~/Content/themes/julianaeafonso/js/jquery.prettyPhoto.js"></script>
    <script src="~/Content/themes/julianaeafonso/js/jquery.sticky.js"></script>
    <script src="~/Content/themes/julianaeafonso/js/jquery.scrollTo.js"></script>
    <script src="~/Content/themes/julianaeafonso/js/jquery.localScroll.js"></script>
    <script src="~/Content/themes/julianaeafonso/js/functions.js"></script>
    <script src="~/Content/admin/js/app.min.js"></script>
    @Model.PluginManager.OnFooter()
</body>
</html>
