@using System.Configuration
@using MegaSite.Api
@using MegaSite.Api.Messaging
@using MegaSite.Api.Trash
@using MegaSite.Api.Resources

@{
    IManagers managers = new UnitOfWork(ConfigurationManager.ConnectionStrings["ConnectionString"].ConnectionString);
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - @Html.Option("SiteTitle") - @Resource.ProjectName</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="~/Content/admin/images/favicon.png">

    @* CSS Básicos *@


    @Scripts.Render("~/bundles/libs")
    @RenderSection("scripts", false)

    @Styles.Render("~/bundles/css")

    @Html.Partial("_Script")

    @Scripts.Render("~/bundles/validate")

    <script type="text/javascript">
        jQuery.extend(jQuery.validator.methods, {
            date: function (value, element) {
                return this.optional(element) || /^\d\d?\/\d\d?\/\d\d\d?\d?(\s*\d\d?:\d\d?(:\d\d?)?)?$/.test(value);
            }
        });
    </script>
</head>
<body>
    @if (TempData["Message"] != null)
    {
        var message = (Message)TempData["Message"];
        var type = "";
        switch (message.Type)
        {
            case MessageType.Success:
                type = "success";
                break;
            case MessageType.Error:
                type = "error";
                break;
            case MessageType.Info:
                type = "info";
                break;
        }
        <script type="text/javascript">
            showMessage('@message.Text', '@type');
        </script>
    }
    <script type="text/javascript">
        setInterval(function () {
            $.ajax('@Url.Action("Ping", "Account")',
                {
                    success: function (data) {
                        if (data.message != 'success') {
                            window.showMessage('Sessão expirada. Recarregando...', 'error');
                            location.reload(true);
                        }
                    },
                    error: function () {
                        location.reload(true);
                    }
                });
        }, 10000);
    </script>

    <div id="wrap">
        <!-- Navbar ================================================== -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a class="brand pull-left" href="~/Admin">
                        <img src="@Url.Content("~/Content/admin/images/logo.png")" alt="@Resource.ProjectName" /></a>
                    <div class="nav-collapse collapse">
                        <p class="navbar-text pull-right">
                            @{
                                var postTypeId = Options.Instance.GetInt("DefaultPostTypeId");

                                if (postTypeId != 0)
                                {
                                    var ptype = managers.PostTypeManager.GetById(Options.Instance.GetInt("DefaultPostTypeId"));
                                <a href="@Url.Action("Create", "Post", new { postTypeId = ptype.Id })" class="btn">@String.Format(Resource.CreateCustomEntity, ptype.SingularName)</a>
                                }
                            }
                            <a href="@Url.Content("~/")" class="btn">@Resource.VisitSite</a>
                            <a href="#" class="navbar-link">@User.Identity.Name</a>
                            <a href="@Url.Action("Logout", "Account")" class="navbar-link">@Resource.Logout</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="push">
        </div>
        <!-- Subhead ================================================== -->
        <header class="header subhead" id="overview">
            <div class="container">
                <h1>@Html.Option("SiteTitle")</h1>
            </div>
        </header>
        <div class="container">
            <!-- Docs nav ================================================== -->
            <div class="row">
                <div class="span3 nav-collapse collapse">
                    <ul class="nav nav-list bs-docs-sidenav" id="postTypesMenu">
                        <li class="nav-header">Objetos</li>
                        @{
                            foreach (var postType in managers.PostTypeManager.GetAll())
                            {
                                var action = Url.Action("Index", "Post", new { postTypeId = postType.Id });
                                var selected = (Request.Url.PathAndQuery == action) ? "active" : "";
                                
                            <li class="@selected"><a href="@action" ><i class="icon-@postType.IconId"></i>@postType.PluralName</a>
                            </li>
                            }
                        }
                    </ul>
                    <ul class="nav nav-list bs-docs-sidenav">
                        <li class="nav-header">Configurações</li>
                        @{
                            var dicMenu = new Dictionary<string, string>();
                            dicMenu.Add("Category", Resource.Categories);
                            dicMenu.Add("Featured", Resource.Featureds);

                            @Html.Partial("_MenuItem", new Tuple<string, string, string>("Category", Resource.Categories, "tags"))
                            @Html.Partial("_MenuItem", new Tuple<string, string, string>("Featured", Resource.Featureds, "star"))
                        }
                    </ul>
                    <ul class="nav nav-list bs-docs-sidenav">
                        <li class="nav-header">Avançado</li>
                        @Html.Partial("_MenuItem", new Tuple<string, string, string>("User", Resource.Users, "user"))
                        @if (Options.Instance.Get("AllowImportMediaFiles", true))
                        {
                            @Html.Partial("_MenuItem", new Tuple<string, string, string>("Import", Resource.Importing, "download-alt"))
                        }
                    </ul>
                </div>
                <div class="span9 content">
                    <div class="page-header">
                        <h1><i class="icon-@ViewBag.Icon"></i>
                            @ViewBag.Title</h1>
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
        <div id="push">
        </div>
    </div>
    <footer id="footer">
        <div class="container">
            <p class="pull-right"><a href="#">Voltar para o topo</a></p>
            <p>© @DateTime.Today.Year Mega Site. <span class="muted">Registrado para @Html.Option("SiteTitle")</span> · <a href="#">Termo de Privacidade</a> · <a href="#">Licença de Uso</a></p>
        </div>
    </footer>
</body>
</html>
@{
    managers.Dispose();
}
