@using MegaSite.Api.Messaging
@using MegaSite.Api.Resources
@using MegaSite.Api.Trash

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - @Html.Option("SiteTitle") - @Resource.ProjectName</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="~/Content/admin/images/favicon.png">

    @* CSS Básicos *@


    @Scripts.Render("~/bundles/libs")
    @RenderSection("scripts", false)

    @Styles.Render("~/bundles/css")

    @Html.Partial("_Script")

    @Scripts.Render("~/bundles/validate")

    <style>
        body {
            padding-top: 60px;
        }
    </style>

</head>
<body>
    @if (TempData["Message"] != null)
    {
        var message = (Message)TempData["Message"];
        var type = "";
        switch (message.Type)
        {
            case MessageType.Success:
                type = "success";
                break;
            case MessageType.Error:
                type = "error";
                break;
            case MessageType.Info:
                type = "info";
                break;
        }
        <script type="text/javascript">
            showMessage('@message.Text', '@type');
        </script>
    }

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand pull-left" href="#">
                    @Html.Option("SiteTitle")
                </a>
                <p class="navbar-text pull-right">
                    <img src="@Url.Content("~/Content/admin/images/logo.png")" alt="@Resource.ProjectName" />
                </p>
            </div>
        </div>
    </div>


    <div id="wrap" class="container">
        <!-- Navbar================================================== -->

        <div class="container">
            @RenderBody()
        </div>
    </div>
    <footer id="footer">
        <div class="container">
            <p class="pull-right"><a href="#">Voltar para o topo</a></p>
            <p>© @DateTime.Today.Year Mega Site. <span class="muted">Registrado para @Html.Option("SiteTitle")</span> · <a href="#">Termo de Privacidade</a> · <a href="#">Licença de Uso</a></p>
        </div>
    </footer>
</body>
</html>
