@using Meganium.Api.Trash
@model Meganium.Api.ViewModels.SiteViewModel

<div class="jumbotron">

    <div class="container">
        <div class="row">
            @Url.Thumbnail(Model.CurrentPost.FeaturedMediaFile, 770, 500, true)
        </div>
    </div>
</div>

<div style="background-color: rgba(22, 160, 134, 0.2);">
    <div class="container">
        <div class="row">
            <div class="gridly-category">
                <p>
                    @{
                        var len = Model.CurrentPost.Categories.Count();
                        var i = 0;
                    }
                    @foreach (var cat in Model.CurrentPost.Categories)
                    {
                        i++;
                        var comma = (i != len) ? "," : "";
                        <a href="~/projetos/@cat.Slug">@cat.Title @comma</a>
                    }
                </p>
            </div>

            <div class="gridly-copy">
                <h1>@Model.CurrentPost.Title</h1>
                <p class="gridly-date">@Model.CurrentPost.PublishedAt.Value.ToString("D")</p>
                <p>@Html.Raw(Model.CurrentPost.Content)</p>
            </div>
        </div>
    </div>
</div>
