@using MegaSite.Api
<html>
<head>
    <link href="~/Content/admin/js/libs/bootstrap3/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            background-color: rgba(0,0,0,0.5) !important;
            overflow: hidden !important;
            margin: 0 !important;
        }

        .modal {
            display: block;
            overflow: auto;
        }
        .modal-dialog {
            width: 90%;
        }

        .btn-primary {
            background-color: @Options.Instance.Get("Color1");
            border-color: @Options.Instance.Get("Color2");
        }

        .btn-primary.disabled {
            background-color: @Options.Instance.Get("Color1");
            border-color: @Options.Instance.Get("Color2");
        }

        .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:visited{
            background-color: @Options.Instance.Get("Color2");
            border-color: @Options.Instance.Get("Color1");
        }
    </style>

    <script src="~/Content/admin/js/libs/jquery/jquery-1.9.1.min.js"></script>
    <script src="~/Content/admin/js/libs/bootstrap3/js/bootstrap.min.js"></script>

    <script>
        function show(closeFunc) {
            $('.modal').modal('show');
            $('.modal').on('hide.bs.modal', function () {
                closeFunc();
            });
        }
    </script>
    
    @RenderSection("Head")

</head>
<body>
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
